h1{
    border: solid black 2px;
    display: block;
    margin: 2em;
    padding-left: 2%;
    height: 12em;

}
button{
    display: block;
    width: 36%;
    margin-top: 1em;
}
.todoform{
    margin-left: 40%;
    width: 400px;
}
label{
    display: block;
}

.exit{
    width: 2em;
    height: 2em;
    text-decoration: none;
    display: inline;
    float: left;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 15em;
    margin-bottom: 1em;;
}

img{
    margin-left: 25%;
}

.edit{
    width: 100%;
    margin-top: 1em;
    text-decoration: none;
}

.editInput{
    width: 80%;
    height: 1em;
    text-decoration: none;
}